body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh; /* Full viewport height */
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0%;
  }
  
  header ul li{
    width: 80em;
  }
  
  header ul li a{
    color: white;
    text-decoration: none;
  }

.main {
    background-color: #f1f1f1;
    padding: 1em;
    overflow-y: auto; /* Ensures content overflow in main section is scrollable */
}
