body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh; /* Full viewport height */
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: .1em;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0%;
  }
  
header ul li{
  width: 20em;
  font-size: larger;
}

header ul li a{
  color: white;
  text-decoration: none;
}

.main {
    background-color: #f1f1f1;
    overflow-y: auto; /* Ensures content overflow in main section is scrollable */
    padding: 0%;
}

.name {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  margin:0;
  padding:0.5em;
  padding-bottom: 0.01em;
  padding-left: 1.5em;
}

.job-title{
  font-family: "Source Code Pro", monospace;
  font-family: "Source Code Pro", monospace;

  margin:0;
  padding:0;
  font-size: 2.8rem;
  padding-left: 2.2em;
}

.intro-text {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;

  padding-left: 5em;
  padding-right: 25em;
}