body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;

  /* Direction of the items, can be row or column */
  flex-direction: column;
}

.header {
  grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: .1em;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0%;
  }
  
header ul li{
  width: 20em;
  font-size: larger;
}

header ul li a{
  color: white;
  text-decoration: none;
}

.contents {
  background-color: #ffffff;
  flex: 1;
  padding: 0%;
  display: flex;
  align-items : center;
}

.name {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  margin:0;
  padding: 0;

  text-align: center;
}

.job-title{
  font-family: "Source Code Pro", monospace;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 2rem;

  margin:0;
  padding:0;
  text-align: center;
}

.intro-text {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;

  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}