body {
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;

  flex-direction: column;
}

.header {
    background-color: #68A691;
    color: white;
    text-align: center;
    padding: .1em;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0%;
  }
  
header ul li{
  width: 20em;
  font-size: larger;
}

header ul li a{
  color: #2c2b2a;
  font-family: "Source Code Pro", monospace;
  font-size: large;
  text-decoration: none;
}

.contents {
  background-color: #2c2b2a;
  flex: 1;
  padding: 0%;
  display: flex;
}

.info {
  padding-top: 5%;
}

.name {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3rem;
  margin:0;
  padding: 0;
  color: #68A691;

  text-align: center;
}

.job-title{
  font-family: "Source Code Pro", monospace;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-size: 2rem;
  color: #68A691;

  margin:0;
  padding:0;
  text-align: center;
}

.intro-text {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  color: #C6AA58;

  text-align : justify;
  text-align-last: center;

  padding-left: 25%;
  padding-right: 25%;
}

@media (max-width: 780px) {
  body {
    .intro-text{
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}